version: '3'

volumes:
  static-volume:
  media-volume:

services:
  api:
    build:
      context: lmsapi
      dockerfile: Dockerfile.prod
    expose:
      - 8000
    env_file:
      - ./.env.prod
    volumes:
      - ./lmsapi/:/usr/src/app/
      - static-volume:/usr/src/app/static
      - media-volume:/usr/src/app/media
    restart: always

networks:
  default:
    external:
      name: nginx-proxy